@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  margin: 0;
  padding: 0;
}
.fondo {
  
  /* Estilos CSS */

  background-image: url("../public/img/iglu.png"); /* Ruta relativa a la carpeta public */
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
  position: relative; /* Añadir posición relativa */
  overflow-y: scroll; /* Cambio de overflowY a overflow-y */
  border-image: fill 0 linear-gradient(#0001 , #000);
}